
    <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <div class="with-icon">
          
            <mat-icon class="email">account_circle</mat-icon>{{email}}&nbsp;&nbsp;
           
            <mat-icon class="logout">logout</mat-icon><a style="text-decoration:none;color: white;" (click)="log()" >Logout</a>
          </div>
    </button>
      <img  src="./assets/logo.jpg" alt="logo" style="width: 50px;height: 50px;padding-right: 10px;">
      <span><a href="/kanban" style="text-decoration: none;color: white;">Kanban Board</a></span>
    </mat-toolbar>
  
<div class="body">
<p><strong>Privacy Policy for Kanban Board</strong></p>
<p><br></p>
<p>My Website one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by My Website and how we use it.</p>
<p><br></p>
<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
<p><br></p>
<p>This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in&My Website. This policy is not applicable to any information collected offline or via channels other than this website.</p>
<p>Consent</p>
<p><br></p>
<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms. </p>
<p><br></p>
<p><strong>Information we collect</strong></p>
<p><br></p>
<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p><br></p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p><br></p>
</div>

