
    <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <div class="with-icon">
         
            <mat-icon class="email">account_circle</mat-icon>{{emailId}}
            &nbsp;&nbsp;
            
            <mat-icon class="logout">logout</mat-icon><a style="text-decoration:none;color: white;" (click)="logoutbutton()" >Logout </a>
          </div>
    </button>
      <img  src="./assets/logo.jpg" alt="logo" style="width: 50px;height: 50px;padding-right: 10px;">
      <span><a href="/kanban" style="text-decoration: none;color: white;">Kanban Board</a></span>
    </mat-toolbar>
  
<div class="color">
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Shivam Ganguly</h2>
          <p class="title">Team Leader</p>
          <p>Certification:NIIT StackRoute PGP in Full Stack Software Engineering </p>
          <p>shivamganguly4@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Ganesh Rao</h2>
          <p class="title">Team Member-1</p>
          <p>Certification:NIIT StackRoute PGP in Full Stack Software Engineering </p>
          <p>pganeshrao7@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Pravin Kumbhar</h2>
          <p class="title">Team Member-2</p>
          <p>Certification:NIIT StackRoute PGP in Full Stack Software Engineering </p>
          <p>pravinkumbhar412@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
